.container {
    width: 100%;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
}

.image-container {
    display: none;
}

@media screen and (min-width: 992px) {
    .container {
        gap: 5rem;
    }

    .image-container {
        width: 100%;
        display: block;
    }

    .image {
        min-width: 100%;
        border-radius: 0 24px 24px 0;
    }
}