.container> :first-child {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--casper--50);
    border-radius: 8px;
    overflow: hidden;
}

/* !!! */
.image-container img {
    height: 100%;
}

@media screen and (min-width: 992px) {
    .form-container {
        flex-direction: row;
        border-radius: 24px;
    }
}