.container {
    min-height: calc(100dvh - 5rem);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

    padding-top: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    line-height: 1.2;
    color: var(--blue--ribbon--600)
}

.image-container {
    display: none;
}

@media screen and (min-width: 992px) {
    .container {
        min-height: auto;
        flex-direction: row;
        align-items: center;
        padding-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .title {
        text-wrap: pretty;
    }

    .image-container {
        display: block;
        width: 480px;
        height: 100%;
    }

    .image-container img {
        width: 480px;
        height: 580px;
        object-fit: cover;
    }
}