.custom-shape-divider {
    position: absolute;
    top: calc(100vh - 120px);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: 200%;
    transform: translate(-25%, 0);
    height: 565px;
}

.custom-shape-divider .shape-fill {
    fill: var(--blue--ribbon--300);
}

@media screen and (min-width: 768px) {
    .custom-shape-divider svg {
        width: 100%;
        transform: translate(0, 0);
    }

    .custom-shape-divider {
        top: 455px;
    }
}

@media screen and (min-width: 1440px) {
    .custom-shape-divider svg {
        height: 680px;
    }
}